<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>目标检测数据集标注工具</title>
    <link type="favicon" rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <!-- Bootstrap -->
    <link href="/static/build/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/build/css/custom_wa.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid">
	<!-- HEADER AND LOGO -->
  <div class="header" id="header">
		<!-- LOGO-->
		<div id="logo">
			<img id="logo"  src="../static/images/westalgo.png" style="height:30px"/>
		</div>

		<!-- USERNAME FORM-->
		<div id="username_main_div">
		<div id="display_user" style="display:block;">
			You are:
			<b><span id="usernametxt" type="text" style="max-width:120px; height:1.2em;" tabindex="0" title="username">anonymous
			</span></b>
			<font size="-2">(<a href="#" id="changeuser" title="Click to change the username">change user</a>)</font>
		</div>
		<div id="enterUserName" style="display:none;">
			Enter name:
			<input id="userEnter" type="text" style="width:120px;" tabindex="0" value="" title="Enter the name." />
		</div>
		</div>
  </div>

  <div id="workspace">
    <div class="row" style="text-align:center">
        <div class="col-md-1 img-side">
			<!-- img id="logo"  src="../static/images/westalgo.png" style="height:30px"/-->
            <button sytle="display:none" class="btn btn-default btn-lg" id="side_left" type="button" value="left"><span
                    class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
        </div>
		<!--
        <div class="col-md-10 img-main" id="img">&nbsp;</div>
		-->
        <div class="col-md-10 img-main" >
			<img id="img" style="max-height:480px" />
			<!--img id="img" style="max-height:360;max-width:640" /-->
		</div>
		<!--
		<input type="hidden" id="img_name" value="{{img_name}}"/>
		-->
        <div class="col-md-1 img-side">
            <button class="btn btn-default btn-lg" id="side_right" type="button" value="right"><span
                    class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
        </div>
    </div>
    <div></div>
    <div class="row" style="text-align:center">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="radio-type">标注类型：
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="text-align:left">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <span>样本总数：<strong id="total"></strong></span>
			<!-- jasonj
            <input type="text" id="jump_page" value="" style="width:100px" placeholder="跳转到指定页"/>
			-->
            <span>当前文件：<strong id="cur_id"></strong></span>
			<!-- jasonj
            <span>坐标区域：<strong id="cur_loc"></strong></span>
			-->
        </div>
    </div>
    <div class="row" style="text-align:left">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <span>标注者：<strong id="owner_id"></strong></span>
            <span>标注时间：<strong id="label_time"></strong></span>
        </div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col-md-12">
            <button class="btn btn-default" id="btn_save" type="button">保存</button>
        </div>
    </div>
	<!-- jasonj
    <div  class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <span>当前样本标注状态：</span>
            <textarea class="form-control" id="annotation_cur_status" rows="6"></textarea>
        </div>
        <div class="col-md-3">
            <span>所有样本标注状态：</span>
            <textarea class="form-control" id="annotation_total_status" rows="6"></textarea>
        </div>
        <div class="col-md-1">
            <br/>
            <button class="btn btn-default" id="btn_save" type="button">保存</button>
        </div>
    </div>
	-->
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
-->
<script src="/static/build/js/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/build/js/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/build/js/layer-v3.1.1/layer/layer.js"></script>
<script src="/static/build/js/custom_vision.js"></script>
<!-- jasonj
<script src="/static/build/js/draw_roi.js"></script>
-->
<script type="text/javascript">
  var sample_count = "";
  var img_name= "";
  var previous_img_name = "";
  var current_label_selection = "";
  var previous_label_selection = "";
  var user_name="";
</script>
</body>
</html>
